<h1 id = "title" class= "text-center mb-3">{{title}}</h1>
<form id="newmember" action="/api/members" method="POST" class="mb-4">
<div class="form-group">
    <label for="name">Jokester:</label>
    <input type="text" name="name" class="input-form-control">
</div>
<div class="form-group">
    <label for="email" style="margin-left: 16px;">E-mail:</label>
    <input type="email" name="email" class="input-form-control">
    <br>
    <input type="submit" value="Add Member" class="btn btn-primary">
</div>
</form>
<h4>Jokesters</h4>

<ul class= "list-group">
{{#each members}}
    <li data-id= {{this.id}} class="list-group-item member hovergroup">{{this.name}}: {{this.email}}</li>
{{/each}}

</ul>
<br/>
<div id ="vote">
<h1 id="joke">Choose Your Joke</h1>
<h2>{{randomJoke.content}}</h2>
<p>likes:{{randomJoke.upvotes}}</p>
<p>dislikes:{{randomJoke.downvotes}}</p>
<button id="savebtn" type="button" data-joke="{{randomJoke.content}}" data-upvotes={{randomJoke.upvotes}} data-downvotes={{randomJoke.downvotes}} class="btn btn-success">Stash</button>
</div>
<br/>
<h1>Save Your Joke</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Joke</th>
    </tr>
  </thead>
  <tbody>
      {{#each savedJokes}}
      <tr>
          <th>{{this.id}}</th>
          <td>{{this.body}} <button data-id={{this.id}}  class= "btn btn-danger delete" >
            <i class="fa fa-frown-o" aria-hidden="true"></i> </button></td>
      </tr>
      {{/each}}
  </tbody>
</table>
<!------ <a href="/api/members" class="btn-btn-light mt-4">Visit API</a> ---->
<a href="https://rapidapi.com/LemmoTresto/api/joke3" class="btn-btn-light mt-4">Visit Jokes API</a>